# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules
frontend/dist

# tests and lints
backend/.pytest_cache
backend/.ruff_cache

# other files
backend/app/images