fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
alembic
passlib[bcrypt]
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
python-multipart
bcrypt
pytest
httpx
weasyprint
jinja2
supabase
python-docx
bleach
PyPDF2